<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mcoding.base.member.persistence.setting.MemberSettingKeyMapper" >
  <resultMap id="BaseResultMap" type="com.mcoding.base.member.bean.setting.MemberSettingKey" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="module_type" property="moduleType" jdbcType="INTEGER" />
    <result column="setting_name" property="settingName" jdbcType="VARCHAR" />
    <result column="setting_code" property="settingCode" jdbcType="VARCHAR" />
    <result column="setting_default_value" property="settingDefaultValue" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, module_type, setting_name, setting_code, setting_default_value, remark, create_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.mcoding.base.member.bean.setting.MemberSettingKeyExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from t_member_setting_key
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_member_setting_key
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_member_setting_key
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.mcoding.base.member.bean.setting.MemberSettingKeyExample" >
    delete from t_member_setting_key
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.mcoding.base.member.bean.setting.MemberSettingKey" useGeneratedKeys="true" keyProperty="id" >
    insert into t_member_setting_key (module_type, setting_name, setting_code, 
      setting_default_value, remark, create_time
      )
    values (#{moduleType,jdbcType=INTEGER}, #{settingName,jdbcType=VARCHAR}, #{settingCode,jdbcType=VARCHAR}, 
      #{settingDefaultValue,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.mcoding.base.member.bean.setting.MemberSettingKey" useGeneratedKeys="true" keyProperty="id" >
    insert into t_member_setting_key
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="moduleType != null" >
        module_type,
      </if>
      <if test="settingName != null" >
        setting_name,
      </if>
      <if test="settingCode != null" >
        setting_code,
      </if>
      <if test="settingDefaultValue != null" >
        setting_default_value,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="moduleType != null" >
        #{moduleType,jdbcType=INTEGER},
      </if>
      <if test="settingName != null" >
        #{settingName,jdbcType=VARCHAR},
      </if>
      <if test="settingCode != null" >
        #{settingCode,jdbcType=VARCHAR},
      </if>
      <if test="settingDefaultValue != null" >
        #{settingDefaultValue,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.mcoding.base.member.bean.setting.MemberSettingKeyExample" resultType="java.lang.Integer" >
    select count(*) from t_member_setting_key
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_member_setting_key
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.moduleType != null" >
        module_type = #{record.moduleType,jdbcType=INTEGER},
      </if>
      <if test="record.settingName != null" >
        setting_name = #{record.settingName,jdbcType=VARCHAR},
      </if>
      <if test="record.settingCode != null" >
        setting_code = #{record.settingCode,jdbcType=VARCHAR},
      </if>
      <if test="record.settingDefaultValue != null" >
        setting_default_value = #{record.settingDefaultValue,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_member_setting_key
    set id = #{record.id,jdbcType=INTEGER},
      module_type = #{record.moduleType,jdbcType=INTEGER},
      setting_name = #{record.settingName,jdbcType=VARCHAR},
      setting_code = #{record.settingCode,jdbcType=VARCHAR},
      setting_default_value = #{record.settingDefaultValue,jdbcType=VARCHAR},
      remark = #{record.remark,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.mcoding.base.member.bean.setting.MemberSettingKey" >
    update t_member_setting_key
    <set >
      <if test="moduleType != null" >
        module_type = #{moduleType,jdbcType=INTEGER},
      </if>
      <if test="settingName != null" >
        setting_name = #{settingName,jdbcType=VARCHAR},
      </if>
      <if test="settingCode != null" >
        setting_code = #{settingCode,jdbcType=VARCHAR},
      </if>
      <if test="settingDefaultValue != null" >
        setting_default_value = #{settingDefaultValue,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mcoding.base.member.bean.setting.MemberSettingKey" >
    update t_member_setting_key
    set module_type = #{moduleType,jdbcType=INTEGER},
      setting_name = #{settingName,jdbcType=VARCHAR},
      setting_code = #{settingCode,jdbcType=VARCHAR},
      setting_default_value = #{settingDefaultValue,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByExampleByPage" resultMap="BaseResultMap" parameterType="com.mcoding.base.member.bean.setting.MemberSettingKeyExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from t_member_setting_key
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
</mapper>