<script type="text/javascript">
	global_vue(); //引入vue
	vm.$set('findPostById', null); //清空文章内容
	vm.$set('findCommentByPage', null); //清空文章评论内容
	setTimeout(function() {
		//插入文章内容
		global_getJsonSetVue('snsPost/front/findPostById', 'findPostById', {
			id: vueData.hash.id
		});

		//插入评论内容

	}, 300);
	//插入评论列表
	var commentPageNo = 1
	vm.$set('commentArray', []); //清空评论列表
	vm.$set('commentPageLoad', true); //读取阻塞
	insetCommentArray(commentPageNo);

	function insetCommentArray(commentPageNo) {
		vueData.commentPageLoad = false;
		global_getJsonSetVue('snsComment/front/findCommentByPage', 'findCommentByPage', {
			postId: vueData.hash.id,
			pageNo: commentPageNo,
			pageSize: 5,
		}, function() {
			setTimeout(function() {
				$.map(vueData.findCommentByPage.queryResult, function(data) {
					vueData.commentArray.push(data);
				});
				setTimeout(function() {
					$("[data-bui_img]").buijs_img();
				}, 100);
				vueData.commentPageLoad = true;
			}, 300);
			$("#modalArticle .bui_modal_b").buijs_scrollTobottom(function() {
				if(vueData.commentPageLoad == true) {
					commentPageNo++
					insetCommentArray(commentPageNo);
				}
			});
		});
	};

	//点赞
	function articleLikePost() {
		$.ajax({
			type: "get",
			url: _jsonUrl + "snsPost/front/likePost",
			dataType: 'json',
			data: {
				postId: vueData.hash.id,
				isLike: 1
			},
			contentType: 'application/json',
			success: function(data) {
				if(data.status == "00") {
					buijs_alert({
						content: "点赞成功"
					});
					var lickNum = Number($("#clickLike").text());
					$("#clickLike").html(lickNum + 1);
				} else {
					buijs_alert({
						content: data.msg
					});
				}
			},
			error: function(data, reo) {
				buijs_alert({
					content: "网络超时,请刷新重试。(" + data.status + ":" + reo + ")"
				})
			}
		})
	};
</script>
<template v-if="!findPostById">
	<div class="bui_p_24 bui_ta_c bui_tc_white_d64">
		<i class="fa fa-circle-o-notch fa-spin bui_ts_24_i"></i>
		<p>正在加载中...</p>
	</div>
</template>
<template v-else>
	<!--主贴-->
	<div class="bui_bgc_white bui_p_24">
		<!--标题-->
		<h1 class="bui_ts_20">{{findPostById.title}}</h1>
		<!--标题-->
		<!--附加信息-->
		<div class="bui_mt_6 bui_tc_white_d64 bui_ts_12">
			<div class="bui_inline bui_row_p_6">
				<li>
					<i class="fa fa-user"></i> {{findPostById.member.name}}
				</li>
				<li>
					<i class="fa fa-clock-o"></i> {{dateDiff(global_nowTime,findPostById.createTime)}}
				</li>
			</div>
		</div>
		<!--附加信息-->
		<!--主要内容-->
		<div class="bui_mt_24 bui_ts_16">
			{{{findPostById.content}}}
		</div>
		<!--主要内容-->
		<!--附图-->
		<div class="bui_mt_24">
			<div class="bui_row_p_12">
				<li v-for="pic in findPostById.postImgs" class="bui_inline bui_ta_c">
					<img src="{{jsonUrl+pic.imgUrl}}" style="max-width: 100%;" />
				</li>
			</div>
		</div>
		<!--附图-->
		<!--点赞-->
		<div class="bui_mtb_24 bui_ta_c">
			<button class="bui_btn bui_btn_64 bui_btn_sq bui_bgc_green bui_round" onclick="articleLikePost();"><i class="fa fa-thumbs-o-up"></i></button>
			<p class="bui_mt_6 bui_ts_12 bui_tc_white_d64">已有{{findPostById.snsPostExtInfo.likeNum}}点赞</p>
		</div>
		<!--点赞-->
	</div>
	<!--主贴-->

	<!--评论列表-->
	<div class="bui_mt_24 bui_bgc_white bui_bds_1_t">
		<div class="bui_bds_1_b bui_p_12">
			评论列表
		</div>
		<template v-if="findCommentByPage.queryResult.length<=0">
			<div class="bui_bds_1_b bui_p_24 bui_ta_c bui_tc_white_d64">该帖子暂无评论，快来抢沙发吧！</div>
		</template>
		<template v-else>
			<div v-for="data in commentArray" class="bui_bds_1_b bui_p_12">

				<div class="bui_media bui_vt">
					<div class="bui_media_l">
						<img src="{{data.memberImgUrl}}" style="width: 3rem;" class="bui_round" />
					</div>
					<div class="bui_media_b">
						<p>{{data.memberName}} <span class="bui_plr_6 bui_bgc_red bui_tc_white bui_ts_10 bui_round">Lv {{data.member.levelList[0].grade}}</span></p>
						<div class="bui_ts_12 bui_tc_white_d48 bui_inline bui_row_p_6">
							<li><i class="fa fa-clock-o fa-fw"></i>{{dateDiff(data.createTime,global_nowTime)}}</li>
							<li><i class="fa fa-comment-o fa-fw"></i>{{data.commentNum}}</li>

						</div>
						<p class="bui_mt_12">{{data.content}} </p>
						<div class="bui_bgc_white_d12 bui_p_12 bui_mt_12 bui_radius bui_ts_12" v-if="data.replies.length>0">
							<div class="bui_row_p_6">
								<div v-for="replies in data.replies">
									<span class="bui_tc_blue">{{replies.member.name}}</span>回复<span class="bui_tc_blue">{{replies.parentMemberName}}</span>说：{{replies.content}}
									<span class="bui_tc_white_d48">{{dateDiff(global_nowTime,replies.createTime)}}</span>
								</div>
							</div>

						</div>
					</div>
				</div>

			</div>
		</template>

	</div>
	<!--评论列表-->
	<!--评论列表加载提示-->
	<div class="bui_p_24 bui_ta_c bui_inlin bui_vm bui_tc_white_d64">
		<template v-if="commentPageLoad">
			<i class="fa fa-check bui_ts_24"></i>
			<span>已加载完成</span>
		</template>
		<template v-else>
			<i class="fa fa-circle-o-notch fa-spin bui_ts_24"></i>
			<span>正在加载中...</span>
		</template>
	</div>
	<!--评论列表加载提示-->
</template>