<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mcoding.base.auth.persistence.MenuMapper" >
  <resultMap id="BaseResultMap" type="com.mcoding.base.auth.bean.Menu" >
    <id column="menuId" property="menuId" jdbcType="INTEGER" />
    <result column="parentId" property="parentId" jdbcType="INTEGER" />
    <result column="menuType" property="menuType" jdbcType="VARCHAR" />
    <result column="menuName" property="menuName" jdbcType="VARCHAR" />
    <result column="menuCode" property="menuCode" jdbcType="VARCHAR" />
    <result column="menuURL" property="menuURL" jdbcType="VARCHAR" />
    <result column="sortNo" property="sortNo" jdbcType="INTEGER" />
    <result column="createTime" property="createTime" jdbcType="TIMESTAMP" />
    <result column="updateTime" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="menuLogo" property="menuLogo" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    menuId, parentId, menuType, menuName, menuCode, menuURL, sortNo, createTime, updateTime, 
    menuLogo
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.mcoding.base.auth.bean.MenuExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from t_base_menu
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_base_menu
    where menuId = #{menuId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_base_menu
    where menuId = #{menuId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.mcoding.base.auth.bean.MenuExample" >
    delete from t_base_menu
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.mcoding.base.auth.bean.Menu" useGeneratedKeys="true" keyProperty="menuId" >
    insert into t_base_menu (parentId, menuType, menuName, 
      menuCode, menuURL, sortNo, 
      createTime, updateTime, menuLogo
      )
    values ( #{parentId,jdbcType=INTEGER}, #{menuType,jdbcType=VARCHAR}, 
      #{menuName,jdbcType=VARCHAR}, #{menuCode,jdbcType=VARCHAR}, #{menuURL,jdbcType=VARCHAR}, 
      #{sortNo,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{menuLogo,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.mcoding.base.auth.bean.Menu" useGeneratedKeys="true" keyProperty="menuId" >
    insert into t_base_menu
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="parentId != null" >
        parentId,
      </if>
      <if test="menuType != null" >
        menuType,
      </if>
      <if test="menuName != null" >
        menuName,
      </if>
      <if test="menuCode != null" >
        menuCode,
      </if>
      <if test="menuURL != null" >
        menuURL,
      </if>
      <if test="sortNo != null" >
        sortNo,
      </if>
      <if test="createTime != null" >
        createTime,
      </if>
      <if test="updateTime != null" >
        updateTime,
      </if>
      <if test="menuLogo != null" >
        menuLogo,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="parentId != null" >
        #{parentId,jdbcType=INTEGER},
      </if>
      <if test="menuType != null" >
        #{menuType,jdbcType=VARCHAR},
      </if>
      <if test="menuName != null" >
        #{menuName,jdbcType=VARCHAR},
      </if>
      <if test="menuCode != null" >
        #{menuCode,jdbcType=VARCHAR},
      </if>
      <if test="menuURL != null" >
        #{menuURL,jdbcType=VARCHAR},
      </if>
      <if test="sortNo != null" >
        #{sortNo,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="menuLogo != null" >
        #{menuLogo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.mcoding.base.auth.bean.MenuExample" resultType="java.lang.Integer" >
    select count(*) from t_base_menu
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_base_menu
    <set >
      <if test="record.menuId != null" >
        menuId = #{record.menuId,jdbcType=INTEGER},
      </if>
      <if test="record.parentId != null" >
        parentId = #{record.parentId,jdbcType=INTEGER},
      </if>
      <if test="record.menuType != null" >
        menuType = #{record.menuType,jdbcType=VARCHAR},
      </if>
      <if test="record.menuName != null" >
        menuName = #{record.menuName,jdbcType=VARCHAR},
      </if>
      <if test="record.menuCode != null" >
        menuCode = #{record.menuCode,jdbcType=VARCHAR},
      </if>
      <if test="record.menuURL != null" >
        menuURL = #{record.menuURL,jdbcType=VARCHAR},
      </if>
      <if test="record.sortNo != null" >
        sortNo = #{record.sortNo,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null" >
        createTime = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        updateTime = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.menuLogo != null" >
        menuLogo = #{record.menuLogo,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_base_menu
    set menuId = #{record.menuId,jdbcType=INTEGER},
      parentId = #{record.parentId,jdbcType=INTEGER},
      menuType = #{record.menuType,jdbcType=VARCHAR},
      menuName = #{record.menuName,jdbcType=VARCHAR},
      menuCode = #{record.menuCode,jdbcType=VARCHAR},
      menuURL = #{record.menuURL,jdbcType=VARCHAR},
      sortNo = #{record.sortNo,jdbcType=INTEGER},
      createTime = #{record.createTime,jdbcType=TIMESTAMP},
      updateTime = #{record.updateTime,jdbcType=TIMESTAMP},
      menuLogo = #{record.menuLogo,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.mcoding.base.auth.bean.Menu" >
    update t_base_menu
    <set >
      <if test="parentId != null" >
        parentId = #{parentId,jdbcType=INTEGER},
      </if>
      <if test="menuType != null" >
        menuType = #{menuType,jdbcType=VARCHAR},
      </if>
      <if test="menuName != null" >
        menuName = #{menuName,jdbcType=VARCHAR},
      </if>
      <if test="menuCode != null" >
        menuCode = #{menuCode,jdbcType=VARCHAR},
      </if>
      <if test="menuURL != null" >
        menuURL = #{menuURL,jdbcType=VARCHAR},
      </if>
      <if test="sortNo != null" >
        sortNo = #{sortNo,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        createTime = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        updateTime = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="menuLogo != null" >
        menuLogo = #{menuLogo,jdbcType=VARCHAR},
      </if>
    </set>
    where menuId = #{menuId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mcoding.base.auth.bean.Menu" >
    update t_base_menu
    set parentId = #{parentId,jdbcType=INTEGER},
      menuType = #{menuType,jdbcType=VARCHAR},
      menuName = #{menuName,jdbcType=VARCHAR},
      menuCode = #{menuCode,jdbcType=VARCHAR},
      menuURL = #{menuURL,jdbcType=VARCHAR},
      sortNo = #{sortNo,jdbcType=INTEGER},
      createTime = #{createTime,jdbcType=TIMESTAMP},
      updateTime = #{updateTime,jdbcType=TIMESTAMP},
      menuLogo = #{menuLogo,jdbcType=VARCHAR}
    where menuId = #{menuId,jdbcType=INTEGER}
  </update>
  <select id="selectByExampleByPage" resultMap="BaseResultMap" parameterType="com.mcoding.base.auth.bean.MenuExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from t_base_menu
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
</mapper>