<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mcoding.comp.wechat.redpack.persistence.WxRedpackSendRecordMapper" >
  <resultMap id="BaseResultMap" type="com.mcoding.comp.wechat.redpack.bean.WxRedpackSendRecord" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="account_id" property="accountId" jdbcType="INTEGER" />
    <result column="account_name" property="accountName" jdbcType="VARCHAR" />
    <result column="bill_no" property="billNo" jdbcType="VARCHAR" />
    <result column="openid" property="openid" jdbcType="VARCHAR" />
    <result column="member_name" property="memberName" jdbcType="VARCHAR" />
    <result column="redpack_id" property="redpackId" jdbcType="INTEGER" />
    <result column="redpack_code" property="redpackCode" jdbcType="VARCHAR" />
    <result column="total_amount" property="totalAmount" jdbcType="INTEGER" />
    <result column="scene_id" property="sceneId" jdbcType="VARCHAR" />
    <result column="act_name" property="actName" jdbcType="VARCHAR" />
    <result column="send_name" property="sendName" jdbcType="VARCHAR" />
    <result column="wishing" property="wishing" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="send_time" property="sendTime" jdbcType="TIMESTAMP" />
    <result column="receive_time" property="receiveTime" jdbcType="TIMESTAMP" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, account_id, account_name, bill_no, openid, member_name, redpack_id, redpack_code, 
    total_amount, scene_id, act_name, send_name, wishing, status, send_time, receive_time, 
    create_time, remark
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.mcoding.comp.wechat.redpack.bean.WxRedpackSendRecordExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from t_wx_redpack_send_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_wx_redpack_send_record
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_wx_redpack_send_record
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.mcoding.comp.wechat.redpack.bean.WxRedpackSendRecordExample" >
    delete from t_wx_redpack_send_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.mcoding.comp.wechat.redpack.bean.WxRedpackSendRecord" useGeneratedKeys="true" keyProperty="id" >
    insert into t_wx_redpack_send_record (account_id, account_name, bill_no, 
      openid, member_name, redpack_id, 
      redpack_code, total_amount, scene_id, 
      act_name, send_name, wishing, 
      status, send_time, receive_time, 
      create_time, remark)
    values (#{accountId,jdbcType=INTEGER}, #{accountName,jdbcType=VARCHAR}, #{billNo,jdbcType=VARCHAR}, 
      #{openid,jdbcType=VARCHAR}, #{memberName,jdbcType=VARCHAR}, #{redpackId,jdbcType=INTEGER}, 
      #{redpackCode,jdbcType=VARCHAR}, #{totalAmount,jdbcType=INTEGER}, #{sceneId,jdbcType=VARCHAR}, 
      #{actName,jdbcType=VARCHAR}, #{sendName,jdbcType=VARCHAR}, #{wishing,jdbcType=VARCHAR}, 
      #{status,jdbcType=VARCHAR}, #{sendTime,jdbcType=TIMESTAMP}, #{receiveTime,jdbcType=TIMESTAMP}, 
      #{createTime,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.mcoding.comp.wechat.redpack.bean.WxRedpackSendRecord" useGeneratedKeys="true" keyProperty="id" >
    insert into t_wx_redpack_send_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="accountId != null" >
        account_id,
      </if>
      <if test="accountName != null" >
        account_name,
      </if>
      <if test="billNo != null" >
        bill_no,
      </if>
      <if test="openid != null" >
        openid,
      </if>
      <if test="memberName != null" >
        member_name,
      </if>
      <if test="redpackId != null" >
        redpack_id,
      </if>
      <if test="redpackCode != null" >
        redpack_code,
      </if>
      <if test="totalAmount != null" >
        total_amount,
      </if>
      <if test="sceneId != null" >
        scene_id,
      </if>
      <if test="actName != null" >
        act_name,
      </if>
      <if test="sendName != null" >
        send_name,
      </if>
      <if test="wishing != null" >
        wishing,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="sendTime != null" >
        send_time,
      </if>
      <if test="receiveTime != null" >
        receive_time,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="accountId != null" >
        #{accountId,jdbcType=INTEGER},
      </if>
      <if test="accountName != null" >
        #{accountName,jdbcType=VARCHAR},
      </if>
      <if test="billNo != null" >
        #{billNo,jdbcType=VARCHAR},
      </if>
      <if test="openid != null" >
        #{openid,jdbcType=VARCHAR},
      </if>
      <if test="memberName != null" >
        #{memberName,jdbcType=VARCHAR},
      </if>
      <if test="redpackId != null" >
        #{redpackId,jdbcType=INTEGER},
      </if>
      <if test="redpackCode != null" >
        #{redpackCode,jdbcType=VARCHAR},
      </if>
      <if test="totalAmount != null" >
        #{totalAmount,jdbcType=INTEGER},
      </if>
      <if test="sceneId != null" >
        #{sceneId,jdbcType=VARCHAR},
      </if>
      <if test="actName != null" >
        #{actName,jdbcType=VARCHAR},
      </if>
      <if test="sendName != null" >
        #{sendName,jdbcType=VARCHAR},
      </if>
      <if test="wishing != null" >
        #{wishing,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="sendTime != null" >
        #{sendTime,jdbcType=TIMESTAMP},
      </if>
      <if test="receiveTime != null" >
        #{receiveTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.mcoding.comp.wechat.redpack.bean.WxRedpackSendRecordExample" resultType="java.lang.Integer" >
    select count(*) from t_wx_redpack_send_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_wx_redpack_send_record
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.accountId != null" >
        account_id = #{record.accountId,jdbcType=INTEGER},
      </if>
      <if test="record.accountName != null" >
        account_name = #{record.accountName,jdbcType=VARCHAR},
      </if>
      <if test="record.billNo != null" >
        bill_no = #{record.billNo,jdbcType=VARCHAR},
      </if>
      <if test="record.openid != null" >
        openid = #{record.openid,jdbcType=VARCHAR},
      </if>
      <if test="record.memberName != null" >
        member_name = #{record.memberName,jdbcType=VARCHAR},
      </if>
      <if test="record.redpackId != null" >
        redpack_id = #{record.redpackId,jdbcType=INTEGER},
      </if>
      <if test="record.redpackCode != null" >
        redpack_code = #{record.redpackCode,jdbcType=VARCHAR},
      </if>
      <if test="record.totalAmount != null" >
        total_amount = #{record.totalAmount,jdbcType=INTEGER},
      </if>
      <if test="record.sceneId != null" >
        scene_id = #{record.sceneId,jdbcType=VARCHAR},
      </if>
      <if test="record.actName != null" >
        act_name = #{record.actName,jdbcType=VARCHAR},
      </if>
      <if test="record.sendName != null" >
        send_name = #{record.sendName,jdbcType=VARCHAR},
      </if>
      <if test="record.wishing != null" >
        wishing = #{record.wishing,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.sendTime != null" >
        send_time = #{record.sendTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.receiveTime != null" >
        receive_time = #{record.receiveTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_wx_redpack_send_record
    set id = #{record.id,jdbcType=INTEGER},
      account_id = #{record.accountId,jdbcType=INTEGER},
      account_name = #{record.accountName,jdbcType=VARCHAR},
      bill_no = #{record.billNo,jdbcType=VARCHAR},
      openid = #{record.openid,jdbcType=VARCHAR},
      member_name = #{record.memberName,jdbcType=VARCHAR},
      redpack_id = #{record.redpackId,jdbcType=INTEGER},
      redpack_code = #{record.redpackCode,jdbcType=VARCHAR},
      total_amount = #{record.totalAmount,jdbcType=INTEGER},
      scene_id = #{record.sceneId,jdbcType=VARCHAR},
      act_name = #{record.actName,jdbcType=VARCHAR},
      send_name = #{record.sendName,jdbcType=VARCHAR},
      wishing = #{record.wishing,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=VARCHAR},
      send_time = #{record.sendTime,jdbcType=TIMESTAMP},
      receive_time = #{record.receiveTime,jdbcType=TIMESTAMP},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      remark = #{record.remark,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.mcoding.comp.wechat.redpack.bean.WxRedpackSendRecord" >
    update t_wx_redpack_send_record
    <set >
      <if test="accountId != null" >
        account_id = #{accountId,jdbcType=INTEGER},
      </if>
      <if test="accountName != null" >
        account_name = #{accountName,jdbcType=VARCHAR},
      </if>
      <if test="billNo != null" >
        bill_no = #{billNo,jdbcType=VARCHAR},
      </if>
      <if test="openid != null" >
        openid = #{openid,jdbcType=VARCHAR},
      </if>
      <if test="memberName != null" >
        member_name = #{memberName,jdbcType=VARCHAR},
      </if>
      <if test="redpackId != null" >
        redpack_id = #{redpackId,jdbcType=INTEGER},
      </if>
      <if test="redpackCode != null" >
        redpack_code = #{redpackCode,jdbcType=VARCHAR},
      </if>
      <if test="totalAmount != null" >
        total_amount = #{totalAmount,jdbcType=INTEGER},
      </if>
      <if test="sceneId != null" >
        scene_id = #{sceneId,jdbcType=VARCHAR},
      </if>
      <if test="actName != null" >
        act_name = #{actName,jdbcType=VARCHAR},
      </if>
      <if test="sendName != null" >
        send_name = #{sendName,jdbcType=VARCHAR},
      </if>
      <if test="wishing != null" >
        wishing = #{wishing,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="sendTime != null" >
        send_time = #{sendTime,jdbcType=TIMESTAMP},
      </if>
      <if test="receiveTime != null" >
        receive_time = #{receiveTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mcoding.comp.wechat.redpack.bean.WxRedpackSendRecord" >
    update t_wx_redpack_send_record
    set account_id = #{accountId,jdbcType=INTEGER},
      account_name = #{accountName,jdbcType=VARCHAR},
      bill_no = #{billNo,jdbcType=VARCHAR},
      openid = #{openid,jdbcType=VARCHAR},
      member_name = #{memberName,jdbcType=VARCHAR},
      redpack_id = #{redpackId,jdbcType=INTEGER},
      redpack_code = #{redpackCode,jdbcType=VARCHAR},
      total_amount = #{totalAmount,jdbcType=INTEGER},
      scene_id = #{sceneId,jdbcType=VARCHAR},
      act_name = #{actName,jdbcType=VARCHAR},
      send_name = #{sendName,jdbcType=VARCHAR},
      wishing = #{wishing,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      send_time = #{sendTime,jdbcType=TIMESTAMP},
      receive_time = #{receiveTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByExampleByPage" resultMap="BaseResultMap" parameterType="com.mcoding.comp.wechat.redpack.bean.WxRedpackSendRecordExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from t_wx_redpack_send_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="countStatus" resultType="map" parameterType="com.mcoding.comp.wechat.redpack.bean.WxRedpackSendRecordExample" >
    SELECT 
    SUM(allresult.UNSENT) UNSENT,
    SUM(allresult.SENT) SENT,
    SUM(allresult.FAILED) FAILED,
    SUM(allresult.RECEIVED) RECEIVED,
    SUM(allresult.REFUNDING) REFUNDING,
    SUM(allresult.REFUND) REFUND
    FROM(
    
    SELECT
      (CASE result.s WHEN 'UNSENT' THEN result.c  ELSE 0 END)  UNSENT,
      (CASE result.s WHEN 'SENT' THEN result.c  ELSE 0 END)  SENT,
      (CASE result.s WHEN 'FAILED' THEN result.c  ELSE 0 END)  FAILED,
      (CASE result.s WHEN 'RECEIVED' THEN result.c  ELSE 0 END)  RECEIVED,
      (CASE result.s WHEN 'REFUNDING' THEN result.c  ELSE 0 END)  REFUNDING,
      (CASE result.s WHEN 'REFUND' THEN result.c  ELSE 0 END)  REFUND
    from (
      select count(*) c, `status` s from t_wx_redpack_send_record
      <if test="_parameter != null" >
          <include refid="Example_Where_Clause" />
      </if>
      group by `status`
    ) result
    ) allresult
  </select>
</mapper>