<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mcoding.base.member.persistence.department.MemberDepartmentMapper" >
  <resultMap id="BaseResultMap" type="com.mcoding.base.member.bean.department.MemberDepartment" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="parent_id" property="parentId" jdbcType="INTEGER" />
    <result column="company_id" property="companyId" jdbcType="INTEGER" />
    <result column="company_name" property="companyName" jdbcType="VARCHAR" />
    <result column="department_name" property="departmentName" jdbcType="VARCHAR" />
    <result column="department_type" property="departmentType" jdbcType="INTEGER" />
    <result column="logo_img_url" property="logoImgUrl" jdbcType="VARCHAR" />
    <result column="president" property="president" jdbcType="VARCHAR" />
    <result column="president_tel" property="presidentTel" jdbcType="VARCHAR" />
    <result column="assistant" property="assistant" jdbcType="VARCHAR" />
    <result column="assistant_tel" property="assistantTel" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, parent_id, company_id, company_name, department_name, department_type, logo_img_url, 
    president, president_tel, assistant, assistant_tel
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.mcoding.base.member.bean.department.MemberDepartmentExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from t_member_department
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_member_department
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_member_department
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.mcoding.base.member.bean.department.MemberDepartmentExample" >
    delete from t_member_department
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.mcoding.base.member.bean.department.MemberDepartment" useGeneratedKeys="true" keyProperty="id" >
    insert into t_member_department (parent_id, company_id, company_name, 
      department_name, department_type, logo_img_url, 
      president, president_tel, assistant, 
      assistant_tel)
    values (#{parentId,jdbcType=INTEGER}, #{companyId,jdbcType=INTEGER}, #{companyName,jdbcType=VARCHAR}, 
      #{departmentName,jdbcType=VARCHAR}, #{departmentType,jdbcType=INTEGER}, #{logoImgUrl,jdbcType=VARCHAR}, 
      #{president,jdbcType=VARCHAR}, #{presidentTel,jdbcType=VARCHAR}, #{assistant,jdbcType=VARCHAR}, 
      #{assistantTel,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.mcoding.base.member.bean.department.MemberDepartment" useGeneratedKeys="true" keyProperty="id" >
    insert into t_member_department
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="parentId != null" >
        parent_id,
      </if>
      <if test="companyId != null" >
        company_id,
      </if>
      <if test="companyName != null" >
        company_name,
      </if>
      <if test="departmentName != null" >
        department_name,
      </if>
      <if test="departmentType != null" >
        department_type,
      </if>
      <if test="logoImgUrl != null" >
        logo_img_url,
      </if>
      <if test="president != null" >
        president,
      </if>
      <if test="presidentTel != null" >
        president_tel,
      </if>
      <if test="assistant != null" >
        assistant,
      </if>
      <if test="assistantTel != null" >
        assistant_tel,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="parentId != null" >
        #{parentId,jdbcType=INTEGER},
      </if>
      <if test="companyId != null" >
        #{companyId,jdbcType=INTEGER},
      </if>
      <if test="companyName != null" >
        #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="departmentName != null" >
        #{departmentName,jdbcType=VARCHAR},
      </if>
      <if test="departmentType != null" >
        #{departmentType,jdbcType=INTEGER},
      </if>
      <if test="logoImgUrl != null" >
        #{logoImgUrl,jdbcType=VARCHAR},
      </if>
      <if test="president != null" >
        #{president,jdbcType=VARCHAR},
      </if>
      <if test="presidentTel != null" >
        #{presidentTel,jdbcType=VARCHAR},
      </if>
      <if test="assistant != null" >
        #{assistant,jdbcType=VARCHAR},
      </if>
      <if test="assistantTel != null" >
        #{assistantTel,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.mcoding.base.member.bean.department.MemberDepartmentExample" resultType="java.lang.Integer" >
    select count(*) from t_member_department
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_member_department
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.parentId != null" >
        parent_id = #{record.parentId,jdbcType=INTEGER},
      </if>
      <if test="record.companyId != null" >
        company_id = #{record.companyId,jdbcType=INTEGER},
      </if>
      <if test="record.companyName != null" >
        company_name = #{record.companyName,jdbcType=VARCHAR},
      </if>
      <if test="record.departmentName != null" >
        department_name = #{record.departmentName,jdbcType=VARCHAR},
      </if>
      <if test="record.departmentType != null" >
        department_type = #{record.departmentType,jdbcType=INTEGER},
      </if>
      <if test="record.logoImgUrl != null" >
        logo_img_url = #{record.logoImgUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.president != null" >
        president = #{record.president,jdbcType=VARCHAR},
      </if>
      <if test="record.presidentTel != null" >
        president_tel = #{record.presidentTel,jdbcType=VARCHAR},
      </if>
      <if test="record.assistant != null" >
        assistant = #{record.assistant,jdbcType=VARCHAR},
      </if>
      <if test="record.assistantTel != null" >
        assistant_tel = #{record.assistantTel,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_member_department
    set id = #{record.id,jdbcType=INTEGER},
      parent_id = #{record.parentId,jdbcType=INTEGER},
      company_id = #{record.companyId,jdbcType=INTEGER},
      company_name = #{record.companyName,jdbcType=VARCHAR},
      department_name = #{record.departmentName,jdbcType=VARCHAR},
      department_type = #{record.departmentType,jdbcType=INTEGER},
      logo_img_url = #{record.logoImgUrl,jdbcType=VARCHAR},
      president = #{record.president,jdbcType=VARCHAR},
      president_tel = #{record.presidentTel,jdbcType=VARCHAR},
      assistant = #{record.assistant,jdbcType=VARCHAR},
      assistant_tel = #{record.assistantTel,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.mcoding.base.member.bean.department.MemberDepartment" >
    update t_member_department
    <set >
      <if test="parentId != null" >
        parent_id = #{parentId,jdbcType=INTEGER},
      </if>
      <if test="companyId != null" >
        company_id = #{companyId,jdbcType=INTEGER},
      </if>
      <if test="companyName != null" >
        company_name = #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="departmentName != null" >
        department_name = #{departmentName,jdbcType=VARCHAR},
      </if>
      <if test="departmentType != null" >
        department_type = #{departmentType,jdbcType=INTEGER},
      </if>
      <if test="logoImgUrl != null" >
        logo_img_url = #{logoImgUrl,jdbcType=VARCHAR},
      </if>
      <if test="president != null" >
        president = #{president,jdbcType=VARCHAR},
      </if>
      <if test="presidentTel != null" >
        president_tel = #{presidentTel,jdbcType=VARCHAR},
      </if>
      <if test="assistant != null" >
        assistant = #{assistant,jdbcType=VARCHAR},
      </if>
      <if test="assistantTel != null" >
        assistant_tel = #{assistantTel,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mcoding.base.member.bean.department.MemberDepartment" >
    update t_member_department
    set parent_id = #{parentId,jdbcType=INTEGER},
      company_id = #{companyId,jdbcType=INTEGER},
      company_name = #{companyName,jdbcType=VARCHAR},
      department_name = #{departmentName,jdbcType=VARCHAR},
      department_type = #{departmentType,jdbcType=INTEGER},
      logo_img_url = #{logoImgUrl,jdbcType=VARCHAR},
      president = #{president,jdbcType=VARCHAR},
      president_tel = #{presidentTel,jdbcType=VARCHAR},
      assistant = #{assistant,jdbcType=VARCHAR},
      assistant_tel = #{assistantTel,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByExampleByPage" resultMap="BaseResultMap" parameterType="com.mcoding.base.member.bean.department.MemberDepartmentExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from t_member_department
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
</mapper>